@font-face {
  font-family: mont;
  src: url("montserrat-latin-400-normal.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: mont;
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
}
#nav {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 100px;
  gap: 35px;
  position: fixed;
  z-index: 10;
}
#nav img {
  height: 4.5vw;
}
#nav h4 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
}
video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}
#main {
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
}

#page1 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 1;
}
#page1 h1 {
  font-size: 7.5vw;
  font-weight: 900;
  position: relative;
}
#page1 h1::before {
  content: "EAT. DRINK. PLAY.";
  position: absolute;
  color: #000;
  top: -4px;
  left: -4px;
  -webkit-text-stroke: 1px #95c11e;
  z-index: -1;
}
#page1 h2 {
  font-size: 23px;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 20px;
}
#page1 p {
  font-size: 17px;
  font-weight: 400;
  width: 45%;
}
#page2 {
  height: 100vh;
  width: 100%;
  z-index: 10;
}
