@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat;
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
}
body::-webkit-scrollbar {
  display: block;
  width: 8px;
  background-color: #000;
}
body::-webkit-scrollbar-thumb {
  background-color: #95c11e;
  border-radius: 50px;
}

#main *::selection {
  background-color: #fff;
  color: #95c11e;
}
#cursor {
  height: 20px;
  width: 20px;
  background-color: #95c11e;
  border-radius: 50%;
  position: fixed;
  z-index: 999;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#cursor-blur {
  height: 300px;
  width: 300px;
  background-color: #96c11e39;
  border-radius: 50%;
  position: fixed;
  filter: blur(30px);
  z-index: 9;
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
}
#cursor-blur-overlay {
  height: 200px;
  width: 200px;
  background-color: #ffffff18;
  border-radius: 50%;
  position: fixed;
  filter: blur(20px);
  z-index: 8;
  pointer-events: none;
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
}

#nav {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 100px;
  gap: 35px;
  position: fixed;
  z-index: 999;
}
#nav img {
  height: 4.5vw;
}
#nav h4 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  cursor: pointer;
  transition: all linear 300ms;
}
#nav h4:hover {
  color: #95c11e;
}
video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}
#main {
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
}

#page1 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  z-index: 10;
}
#page1 h1 {
  font-size: 7.5vw;
  font-weight: 900;
  position: relative;
}
#page1 h1::before {
  content: "EAT. DRINK. PLAY.";
  position: absolute;
  color: #000;
  top: -4px;
  left: -4px;
  -webkit-text-stroke: 1px #95c11e;
  z-index: -1;
}
#page1 h2 {
  font-size: 23px;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 20px;
}
#page1 p {
  font-size: 17px;
  font-weight: 400;
  width: 45%;
}

#page1 #arrow {
  height: 160px;
  width: 160px;
  position: absolute;
  display: flex;
  border: 2px solid #95c11e;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  left: -2%;
  bottom: 0;
  background-color: transparent;
  transition: all ease 0.5s;
}
#arrow i {
  font-size: 40px;
  font-weight: 500;
}
#page1 #arrow:hover {
  scale: 0.5;
  background-color: #95c11e;
}
#page2 {
  min-height: 100vh;
  width: 100%;
  z-index: 10;
}
#scroller {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  z-index: 10;
}
#scroller::-webkit-scrollbar {
  display: none;
}

#scroller-in {
  display: inline-block;
  white-space: nowrap;
  animation: scroll;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#scroller h4 {
  display: inline-block;
  font-size: 7vw;
  font-weight: 800;
  margin-right: 10px;
  -webkit-text-stroke: 1px #fff;
  color: #000;
  transition: all linear 0.3s;
  font-family: Arial, Helvetica, sans-serif;
}
#scroller h4:hover {
  color: #95c11e;
  -webkit-text-stroke: 1px #95c11e;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
#about-us {
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 50px;
  position: relative;
  z-index: 10;
}
#about-us img {
  height: 20vh;
  width: 10vw;
  object-fit: cover;
  border-radius: 8px;
}
#about-us-in {
  width: 50%;
  text-align: center;
}
#about-us-in h3 {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 20px;
}
#about-us-in p {
  font-size: 20px;
  line-height: 1.5;
}
#cards-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  position: relative;
  overflow: hidden;
}
.cards {
  height: 85%;
  width: 25%;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  z-index: 10;
  overflow: hidden;
  transition: all ease 0.6s;
}
#card1 {
  background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
#card2 {
  background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4-1024x1024.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
#card3 {
  background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
.overlay {
  height: 100%;
  width: 100%;
  background-color: #95c11e;
  border-radius: 15px;
  padding: 100px 20px;
  text-align: center;
  opacity: 0;
  transition: all ease 0.6s;
}
.overlay h4 {
  font-size: 28px;
  color: #000;
  margin-bottom: 20px;
  font-weight: 900;
  white-space: nowrap;
}
.overlay p {
  color: #000;
  font-size: 18px;
}
.cards:hover .overlay {
  opacity: 1;
}
#green-div {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to left bottom, #95c11e, #2fa733);
  z-index: 10;
}
#green-div h2 {
  width: 45%;
  font-size: 20px;
  color: #000;
  text-align: center;
  line-height: 1.5;
  font-weight: 900;
}
#green-div img {
  height: 100%;
  object-fit: cover;
  width: 10%;
}
#cafe {
  height: 80vh;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#cafe-left {
  height: 77%;
  width: 50%;
  padding-left: 80px;
}
#cafe-left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 10;
  border-radius: 15px;
}
#cafe-right {
  width: 40%;
  height: 70%;
  padding-right: 70px;
}
#cafe-right h2 {
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 20px;
  z-index: 11;
}
#cafe-right p {
  font-size: 18px;
  line-height: 2;
  margin-bottom: 40px;
  z-index: 11;
}
#cafe-right a {
  text-decoration: none;
  padding: 15px 25px;
  border: 2px solid #95c11e;
  border-radius: 30px;
  transition: all ease-in 0.6s;
  z-index: 11;
  display: inline-block;
}
#cafe-right a:hover {
  background-color: #95c11e;
  color: #000;
  cursor: pointer;
}
#page3 {
  height: 100vh;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#page3 p {
  font-size: 25px;
  font-weight: 800;
  width: 60%;
  line-height: 1.7;
  text-align: center;
  transition: all ease-out 0.6s;
}
#page3 img {
  height: 60px;
  position: absolute;
}
#colon1 {
  left: 10%;
  top: 25%;
}
#colon2 {
  bottom: 25%;
  right: 10%;
}
#page4 {
  background-color: #000;
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: relative;
}
.elem {
  height: 60%;
  width: 27%;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}

.elem h2 {
  height: 100%;
  width: 100%;
  background-color: #95c11e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  padding: 0 8px;
  color: #000;
  font-weight: 800;
  position: absolute;
  z-index: 10;
  transition: all ease 0.5s;
}
.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1.1;
  transition: all ease 0.5s;
}
.elem:hover h2 {
  color: #fff;
  background-color: transparent;
}
.elem:hover img {
  scale: 1;
}
#page4 h1 {
  font-size: 70px;
  position: absolute;
  font-weight: 900;
  top: -3%;
  color: #000;
  -webkit-text-stroke: 1px #fff;
  font-family: Arial, Helvetica, sans-serif;
}
#footer {
  height: 45vh;
  width: 100%;
  background: linear-gradient(to top right, #95c11e 50%, #2fa733);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6.5vw;
  padding: 0 100px;
}
#footer > img {
  position: absolute;
  left: 0;
  height: 100%;
  z-index: 0;
}
#f1 img {
  height: 100px;
}
#f1,
#f2,
#f3,
#f4 {
  width: fit-content;
  position: relative;
  z-index: 99;
}
#f2 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 900;
  margin-bottom: 8px;
}

#f3 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 800;
  margin-bottom: 8px;
}
#f4 h4 {
  font-size: 1vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 8px;
}
#copyright {
  position: absolute;
  bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 150px;
}
#copyright-left p {
  font-size: 14px;
  color: #000;
}
#copyright-right p {
  font-size: 14px;
  color: #000;
}

/* Mobile devices (320px - 480px) */
@media only screen and (max-width: 480px) {
  #main {
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
  }

  #nav {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }
  #nav h4 {
    display: none;
  }
  #nav img {
    height: 80%;
  }
  #page1 h1 {
    font-size: 35px;
  }

  #page1 h2 {
    font-size: 18px;
  }
  #page1 p {
    font-size: 14px;
    font-weight: 400;
    width: 50%;
    text-align: left;
  }

  #page1 #arrow {
    height: 100px;
    width: 100px;
  }
  #arrow i {
    font-size: 30px;
    font-weight: 300;
  }

  #scroller h4 {
    font-size: 35px;
    font-weight: 900;
    margin-right: 7px;
  }

  #about-us {
    height: 50vh;
    width: 100%;
    padding: 10px 20px;
    position: relative;
    z-index: 10;
    flex-direction: column;
  }
  #about-us img {
    display: none;
  }
  #about-us-in {
    width: 100%;
  }
  #about-us-in h3 {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 10px;
  }
  #about-us-in p {
    font-size: 16px;
    line-height: 1.2;
    text-align: left;
  }
  #cards-container {
    height: 90vh;
    flex-direction: column;
    gap: 20px;
    position: relative;
    overflow: hidden;
    padding: 10px 20px;
  }
  .cards {
    height: 85%;
    width: 100%;
  }

  .overlay {
    border-radius: 10px;
    padding: 5px 15px;
  }
  .overlay h4 {
    font-size: 20px;
    color: #000;
    margin-bottom: 7px;
  }
  .overlay p {
    font-size: 12px;
  }
  #green-div {
    height: 25vh;
  }
  #green-div h2 {
    width: 70%;
    font-size: 16px;
    color: #000;
    text-align: center;
    line-height: 1.3;
    font-weight: 700;
  }
  #cafe {
    height: 80vh;
    flex-direction: column;
  }
  #cafe-left {
    height: 30%;
    width: 100%;
    padding: 10px 20px;
  }
  #cafe-right {
    width: 100%;
    height: 70%;
    padding: 10px 20px;
  }
  #cafe-right h2 {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }
  #cafe-right p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
    z-index: 11;
  }
  #cafe-right a {
    font-size: 14px;
    padding: 10px 18px;
    border-radius: 25px;
  }
  #page3 {
    overflow: hidden;
  }
  #page3 p {
    font-size: 16px;
    font-weight: 600;
    width: 50%;
    line-height: 1.5;
  }
  #page3 img {
    height: 30px;
    position: absolute;
  }
  #colon1 {
    left: 10%;
    top: 22%;
  }
  #colon2 {
    bottom: 20%;
    right: 10%;
  }
  #page4 {
    height: 100vh;
    flex-direction: column;
    gap: 20px;
    padding: 10px 20px;
  }
  .elem {
    width: 100%;
    border-radius: 15px;
    position: relative;
  }
  .elem h2 {
    font-size: 20px;
  }
  #page4 h1 {
    font-size: 30px;
    position: absolute;
    font-weight: 900;
    top: -15%;
    padding: 10px 20px;
  }
  #footer {
    height: 30vh;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
  }
  #footer > img {
    display: none;
  }
  #f1 img {
    height: 50px;
    margin: 10px 0;
  }
  #f2 h3 {
    font-size: 14px;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    margin-bottom: 0;
  }

  #f3 h3 {
    display: none;
  }
  #f4 h4 {
    display: none;
  }
  #copyright {
    flex-direction: column;
  }
}
